* {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                              supported by Chrome, Edge, Opera and Firefox */
}

html, body {
    width: 100vw;
    overflow-x: hidden;
}

.start-bar {
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: -.025em;
    text-rendering: optimizeLegibility;
    cursor: default;
    color: rgba(255,255,255,.8);
    -webkit-font-smoothing: antialiased;
    font-family: px_sans_nouveaux;
    margin: 0;
    box-sizing: border-box;
    padding: 2px;
    box-shadow: inset 1px 0 #fff;
    display: block;
    background-color: silver;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid #f4f4f4;
    border-bottom: 1px solid #4e4e4e;
    position: fixed;
    z-index: 99999;
    user-select: none;
}

